.listInventory{
    display: flex;
    flex-direction: column;
    height: 500px;
    overflow-y: scroll;
    width: 100%;
    margin-left: 2em;
    margin-top: 2px;
}

.fullscreen{
    height: 1000px;   
}

.eachList{
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(75, 74, 74);
    width: fit-content;
    border-bottom: 1px solid grey;   
}

.eachList p {
    text-align: center;
    margin: 0.8em;
    width: 50px;
}

.current{
    background-color: #8497b0;
    color : white;
}

.Validé{
    background-color: #e2f0d9;
    color: black;
}

.valider{
    background-color: white;
    color: black;
}

.cariste{
    background-color: #fbe5d6;
    color: black;
}

.Non{
    background-color: #d0cece;
    color: black;
}

.WMS{
    background-color: #dae3f3;
    color: black;
}

.imagesID{
    display: inline-flex;
}

.filter{
    display: flex;
}

.exportOptionIsOn{
    opacity: 0.40;
}

.wmsDetailsIsOn{
    opacity: 0.40;
}

.navHeaderDD{
    top: 3em;
    width: 100%;
    margin-left: 2em;
}

