body{
  margin:0px;
  }

#bandeau{
  height: 25px;;
  background:#1188f2;
  }
  
#time{
  position: absolute;
  right: 0;
  top: 0;
  color: white;  
}

.deconnexion {
  color: white;
  text-decoration: none;
}